<mat-sidenav-container class="mobile-sidenav-container">

  <!-- ===== SIDE NAV LEFT ===== -->
  <mat-sidenav #drawer mode="over" class="mobile-sidenav">

  <div class="mobile-avatar" [routerLink]="'/'+ role +'/profile'" (click)="drawer.close()">
    <div class="avatar-circle">YT</div>
    <h3>Yasser TAIBI</h3>
  </div>

  <mat-nav-list>

    <!-- Dashboard -->
    <a mat-list-item
       [routerLink]="'/' + role"
       (click)="drawer.close()">
      <i class="fa-solid fa-gauge-high"></i>
      <span>Dashboard</span>
    </a>

    <!-- Mes transactions (user uniquement) -->
     @if (!isAdmin){
    <a mat-list-item
       [routerLink]="'/user/transactions'"
       (click)="drawer.close()">
      <i class="fa-solid fa-arrow-right-arrow-left"></i>
      <span>Mes transactions</span>
    </a>
    }
    <!-- Services (placeholder) -->
    @if (!isAdmin){
    <a mat-list-item
       [routerLink]="'/user/dashboard'"
       (click)="drawer.close()">
      <i class="fa-solid fa-wrench"></i>
      <span>Services</span>
    </a>
    }

    <!-- Mes contacts (user) -->
    @if (!isAdmin){
    <a mat-list-item
       [routerLink]="'/user/contacts'"
       (click)="drawer.close()">
      <i class="fa-solid fa-address-book"></i>
      <span>Mes contacts</span>
    </a>
    }
    <!-- Clients (admin) -->
    @if (isAdmin){
    <a mat-list-item
       [routerLink]="'/admin/customers'"
       (click)="drawer.close()">
      <i class="fa-solid fa-address-book"></i>
      <span>Nos clients</span>
    </a>
    }
  </mat-nav-list>
</mat-sidenav>

<header class="menu-container">

  <!-- BOUTON HAMBURGER (visible seulement en mobile/tablette) -->
  <button mat-icon-button class="burger-btn" (click)="drawer.toggle()">
    <mat-icon>menu</mat-icon>
  </button>

  <!-- LEFT PART : LOGO + NAVIGATION -->
  <div class="menu-left">
    <!-- LOGO -->
    <div class="logo" [routerLink]="'/' + role">
      <i class="fa-solid fa-building-columns"></i>
      <span>PrimeBank</span>
    </div>

    <!-- NAVIGATION MENU -->
    <nav class="nav-links">
      <a class="nav-item" [routerLink]="'/' + role">Dashboard</a>
      @if (!isAdmin){
      <a class="nav-item" href="/user/transactions">Mes transaction</a>
      }
      @if (!isAdmin){
      <div class="nav-item dropdown">
        Services
        <i class="fa-solid fa-caret-down"></i>
      </div>
      }
      @if (!isAdmin){
      <a class="nav-item" href="/user/contacts">Mes contacts</a>
      }
      @if (isAdmin){
        <a class="nav-item" href="/admin/customers">Nos Clients</a>
      }
    </nav>
  </div>

  <!-- RIGHT PART : SEARCH + HELP + NOTIFICATIONS + USER -->
  <div class="menu-right">

    <!-- SEARCH FIELD -->
    <div class="search-box">
      <input type="text" placeholder="Rechercher une valeur, ..." />
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>

    <!-- HELP BUTTON -->
    <div class="icon-button help">
      <i class="fa-solid fa-circle-question"></i>
    </div>

    <!-- NOTIFICATION ICON -->
    <div class="icon-button notif">
      <i class="fa-solid fa-bell"></i>
    </div>

    <!-- USER AVATAR -->
    <div class="user-avatar" [routerLink]="'/'+ role +'/profile'">
      <span>YT</span>
    </div>

  </div>

</header>

</mat-sidenav-container>
