<div class="dashboard-container">

  <!-- ====== CARD SOLDE ====== -->
  <mat-card class="card-solde mat-elevation-z4">

    <div class="solde-section">

      <div class="date-value">
        <h3>Total des avoirs au 16 novembre 2025</h3>
      </div>

      <div class="solde-value">
        <span class="amount">10 012,54 €</span>
        <mat-icon fontIcon="visibility"></mat-icon>
      </div>
    </div>

    <div class="last-connection">
      <div class="connection-value">
      <h3>DERNIÈRE CONNEXION</h3>
      </div>
      <div class="connection-date">
        <h3>16/11/2025 15:10</h3>
      </div>
    </div>
  </mat-card>


  <!-- ====== BOTTOM CARDS ====== -->
  <div class="bottom-cards">

    <!-- MOBILITÉ BOURSE -->
    <mat-card class="info-card mat-elevation-z2">
      <div class="info-content">
        <img src="/" class="info-img" alt="">
        <div>
          <h3>Mobilité Bourse</h3>
          <p>Pour tout 1er transfert d'un PEA et/ou PEA-PME vers notre banque.</p>
          <p class="highlight">
            Jusqu’à <strong>200 € offerts</strong> + frais de transfert <strong>2× remboursés</strong>
          </p>
        </div>
      </div>
    </mat-card>

    <!-- PAIEMENT MOBILE -->
    <mat-card class="info-card mat-elevation-z2">
      <div class="info-content">
        <img src="/" class="info-img" alt="">
        <div>
          <h3>Paiement mobile</h3>
          <p>Payer avec votre téléphone n’aura jamais été aussi simple.</p>
        </div>
      </div>
    </mat-card>

  </div>
</div>
